@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins:wght@400&display=swap');

.bg-container{
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p{
    margin: 0;
}

.contact {
    background-color: #165315;
    color: white;
    display: flex;
    align-items: center;         
    font-family: 'Inter', sans-serif;
    padding: 5px;
    font-size: 15px;
    width: 100%;                   
    justify-content: space-between; 
}

.shipping {
    flex: 1;                       
    text-align: center;            
}

.phone-no {      
    text-align: right;
    padding-right: 35px;            
}

.search-container{
    display: flex;
    justify-content: center;
    height: 20px;
}

.search-icon{
    font-size: 20px;
    margin-right: 5px;
}

.input{
    outline: none;
    border: none;
    border-bottom: 2px solid #838383;
}

.search-plant{
    height: 20px;
}

.buttons-container{
    display: flex;
    margin-top: 25px;
}

.plant-btn{
    background-color: #165315;
    color: white;
    outline: none;
    border: none;
    font-family: 'Poppins';
    padding: 5px;
    font-size: 16px;
    margin-left: 40px;
    width: 100px;
}

.pot-btn{
    color: #838383;
    border: 2px solid #838383;
    outline: none;
    background-color: white;
    font-family: 'Poppins';
    padding: 5px;
    font-size: 16px;
    margin-left: 40px;
    width: 100px;
}

.home-text {
    font-family: 'Poppins';
    padding-top: 25px;
    font-size: 16px;
    margin-left: 40px;
    color: #838383;
}

.nursery{
    font-family: 'Poppins';
    padding-top: 20px;
    font-size: 25px;
    margin-left: 40px;
    color: black;
    font-weight: 800;
}

.images-container{
    display: flex;
}

.plant-img{
    height: 55%;
    width: 70%;
    border-radius: 50%;
}

.images{
    display: flex;
  flex-direction: column;
  width: 13%;
  align-items: center;
  margin-left: 40px;
  flex-wrap: wrap;
  padding: 10px;
}

.descp{
    font-size: 14px;
    color: #838383;
    font-weight: 600;
    padding-left: 5px;
    text-align: center;
}

.container{
    display: flex;
    margin-left: 40px;
    width: 100vw;
}

.filter-container{
    background-color:#F0FFE5;
    width: 25%;
    border-radius: 5px;
    height: 100%;
}

.filter-cont{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.filter{
    color: #6E6E6E;
    font-family: 'Poppins';
    font-size: 15px;
}

.hr-line {
    color: #6E6E6E;
    margin-left: 10px;
    margin-right: 10px;
}

.plus{
    color: #6E6E6E;
    font-size: 15px;
    margin-top: 10px;
}

.products-container{
    margin-left: 50px;
    width: 75%;
}

.sort-container{
    display: flex;
}

.sort{
    background-color: #165315;
    color: white;
    outline: none;
    border: none;
    font-family: 'Poppins';
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 100px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.drop{
    font-size: 20px;
}

.plants-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
}

.footer-section{
    background-color: #F0FFE5;
    padding-left: 40px;
}

.footer-container{
    display: flex;
    width: 100vw;
}

.rows{
    width: 200px;
    margin: 30px;
}

.black{
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.text{
    color: #838383;
    font-size: 13px;
    font-weight: 600;
}

.email{
    outline: none;
    border-radius: 3px;
    border: 1px solid #6E6E6E;
}

.button{
    background-color: #165315;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}

.follow{
    display: flex;
    padding-left: 60px;    
}

.follow-icon{
    font-size: 50px;
    padding-right: 20px;
}

.rights{
    font-size: 15px;
    font-weight: 600;
    padding-left: 50px;
    padding-bottom: 30px;
    color: #838383;
}